<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TSF Banking- Basic Banking System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TSF Banking</a>
      <button id="navbar-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers">View All Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#policy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  </head>
  <body>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.worldbank.org.ge/files/2020/05/future-of-banks.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Hassle Free Payments</h5>
            <p>No worries, any type of payment just a few clicks away.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://www.kantega-sso.com/hubfs/mfa.png" class="d-block w-100" alt="...">
          <div class="carousel-caption second-slide-caption d-none d-md-block">
            <h5>Secure Payments</h5>
            <p>Enjoy the three-layer authenticated transactions.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1648091854674-59abf26bbf39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHVwaSUyMHBheW1lbnRzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
          <!-- <img src="https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhbmtpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="..."> -->
          <div class="carousel-caption d-none d-md-block">
            <h5>Easy UPI</h5>
            <p>UPI payments, now even even faster.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class=" img-container">
        <img src="https://www.worldbank.org.ge/files/2020/05/future-of-banks.jpg" class="d-block w-100" alt="...">
    </div>


    <section id="about" class="about">
      <!-- <h3>About Us</h3> -->
      <div class="about-container bg-primary">
        <p class="about-ques">Who Are We</p>
        <div class="about-images">
          <img src="https://images.unsplash.com/photo-1512358958014-b651a7ee1773?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fG1vbmV5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="about-img" alt="about-1">
          <!-- <img src="https://images.unsplash.com/photo-1607863680198-23d4b2565df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fG1vbmV5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="about-img" alt="about-img2"> -->
        </div>
        
        <p class="about-desc">We at TSF Banking, are here to simplify basic banking needs of every individual. You can just simply transfer money between multiple users, check balance and do all other stuff. Many real life error checks have been applied to prevent any sort of glitches and transaction problems. Servers are up and running 24X7 to fulfill all your needs. Happy Banking!</p>
      </div>
      <!-- <p>We at Grand Banking, are here to simplify basic banking needs of every individual. You can just simply transfer money between multiple users, check balance and do all other stuff. Many real life error checks have been applied to prevent any sort of glitches and transaction problems. Servers up and running 24X7 to fulfill all your needs. Happy Banking !</p> -->
      <!-- <h3>Terms and Conditions</h3> -->

    </section>

    <section id="policy" class="policy">
      <!-- <h3>Privacy Policy</h3> -->

      <div class="points bg-light">
        <h3>Privacy Policy</h3>
        <div class="point">
          <h5>No Warranty</h5>
          <p>This Website is provided "as is," with all faults, and TSF Banking express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>
        </div>
      
        <div class="point">
          <h5>Indemnification</h5>
          <p>You hereby indemnify to the fullest extent TSF Banking from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>
        </div>
      
        <div class="point">
          <h5>Variation of Terms</h5>
          <p>TSF Banking is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>
        </div>
      </div>
      
    </section>

    <section id="contact" class="contact-section">

      <!-- <h3>Contact Us</h3> -->
      <div class="contact-container bg-secondary">
        <p class="query-ques">Got Any Queries ?</p>
        <p class="contact-p">We would love to address your queries and provide a solution as soon as possible.</p>
        <a id="transfer-money-btn" class="btn btn-primary transfer-btn" href="mailto:pranshu.bhambri@gmail.com" role="button">Contact Us</a>
      </div>

    </section>




    <!-- <div class="home-info">
      <div class="general-cards">
        <h3>Cards- Types of Bank Cards</h3>
        <p class="cards-info">Whether it's for shopping, travelling, entertainment or bills, we make payments every day.</p>
        <p class="cards-info">Every card is designed to be completely secure and convenient, making it the right choice for any transaction. Depending on your need, you can choose the Debit Card, Credit Card, Gift Card or Prepaid Card that's perfect for you. And, you can always look forward to CashBack, Rewards and discounts as well.</p>
      </div>
      
      <h4>Millennia Cards</h4>
      <div class="container-card card1">
        <img src="https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/c8136c8b-a53b-49ed-9844-f65cbce4bbd8/Personal/Pay/Cards/Millennia%20Cards/Millennia%20Debit%20Card/Millennia_VISA_Mst_debit-card_264x167.png" class="card-img1" alt="card1">
        <ul>
          <li>Get up to ₹4800 CashBack every year</li>
          <li>5% CashBack on shopping via PAYZAPP & SmartBUY</li>
          <li>2.5% CashBack on all online spends</li>
          <li>1% CashBack on all offline spends and Wallet reloads</li>
          <li>5% Cashback on Amazon, BookMyShow, Cult.fit, Flipkart, Myntra, Sony LIV, Swiggy, Tata CLiQ, Uber and Zomato</li>
          <li>1% cashback on all other spends (except Fuel) including EMI & Wallet transactions</li>
          <li>₹1000 worth gift vouchers on spends of ₹1,00,000 and above in each calendar quarter</li>
          <li>8 Complimentary Domestic Airport Lounge access annually</li>
        </ul>
      </div> -->

      <!-- <h4>Visa Cards</h4>
      <div class="container-card card2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD3zfPNlzXs3cS94yIQ3TeSdZ0cp7O0Il4hw&usqp=CAU" class="card-img2" alt="card2">
        <div class="card2-types">
          <h5>Types of VISA Cards</h5>
          <ul>
            <li> <span>Visa Classic Credit Card:</span> This card is among the most widely used credit cards in the world which offers 24/7 assistance in case of an emergency. This Visa card is accepted for any kind of shopping, travelling or dining transaction.</li>
            <li> <span>Visa Gold Credit Card:</span> This card gives access to a higher credit line along with emergency card replacement as well as access to cash disbursal while travelling. With the Gold credit card, you will also have access to travel, legal and medical assistance all throughout the year. You will also be entitled to special offers on travel, dining and retail purchases all over the world.</li>
            <li> <span>Visa Platinum Credit Card:</span> This is a premium credit card offered by VISA. You as a Platinum credit cardholder will receive a wide range of benefits and rewards. This credit card is accepted widely by merchants all over the world. You can avail offers from various leading hotels, electronic retail stores, medical stores, etc.</li>
            <li> <span>Visa Signature Credit Card:</span> By holding a Visa Signature credit card, you will be entitled to a number of benefits and services from the bank. The Signature credit card is accepted all over the world and provides you with 24/7 concierge services. A wide range of offers is given to the cardholder such as hotel benefits, travel benefits as well as shopping benefits.</li>
            <li> <span>Visa Infinite Credit Card:</span> Visa Infinite Credit Card: This is an elite credit card offered by Visa. This card offers a wide range of benefits and offers such as shopping benefits, dining benefits as well as hotel and travel benefits. The Infinite card is a globally accepted credit card with constant concierge service available in case of emergency.</li>
          </ul>
        </div>
      </div> -->

      <!-- <h4 class="card3-head">Rupay Cards</h4>
      <div class="container-card card3">
        <img src="https://www.rupay.co.in/images/rupay/PNB-Platinum.png" class="card-img3" alt="card3">
        <ul>
          <li>No annual and joining fee (if card is used one in a quarter)</li>
          <li>300+ reward points on 1st usage</li>
          <li>2.5% CashBack on all online spends</li>
          <li>Exclusive cash back in utility bills, eateries and restaurants etc.
            Comprehensive insurance coverage</li>
          <li>24/7 concierge services</li>
        </ul>
      </div>
    </div> -->

<%- include("partials/footer"); -%>
